/* CSS GLOBAL */

/* ALERT */
.alertError {
    border: 1px solid #d63031;
    border-left: 7px solid #d63031;
    color: #2d3436;
    padding: 10px;
    font-weight: 500;
    border-radius: 2px;
}

.alertSuccess {
    border: 1px solid #00e1a0;
    border-left: 7px solid #00e1a0;
    color: #2d3436;
    padding: 10px;
    font-weight: 500;
    border-radius: 2px;
}
/* ALERT */

/* BOUTON */
.btnPurple {
    margin: 0 auto;
    border: none;
    color: #fff;
    background: #4b00ff;
    border-radius: 5px;
    padding: 10px 0 10px 0;
}
.btnPurple:hover {
    cursor: pointer;
}
/* BOUTON */

/* WIDTH */
.min_width_300_px {
    min-width: 300px;
}
/* WIDTH */