* {
    box-sizing: border-box;
  }
body{
    background: #e4e4e4;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family:Montserrat;
    color: #3B4351;
}

.logo{
    min-width:200px;
    max-width: 20%;
    height:auto;
}

.container_page{
    background:#e4e4e4;
    width:70%;
    margin:auto;
    margin-top:30px; 
}

.btn_creer {
    color: #4b00ff;
    text-decoration: none;
}

.container_formillu{
    width:100%; 
    display:flex;   
    height: auto;
    margin-bottom: 50px;
}

.formulaire{
   background-color: #f5f5f5;
    width:50%;
    text-align: left;
    padding: 50px 50px 50px 50px;
    border-radius:0 0 0 10px;
}

.container_illustration{
    width:50%;
    background-color: #eaeaeb;
    height:auto;
    position:relative;
}
.formulaire p{
    font-size:1.2em;
    font-weight: 600;
    margin-bottom:80px;
}
.formulaire label{
    font-size:1em;
    line-height:1.29;
    font-weight:bold;
}
.email,.password{
    width:100%;
    background-color:white;
    border:none;
    border-radius:5px;
    color:black;
    font-size: 1em;
    padding: 7px;
    margin-top: 10px;
    margin-bottom:30px;
    height:auto;
}
.email{
    margin-bottom:50px;
}

.check{
    background-color:white;
    border:none;
}

.btn_connect{
    margin: 0 auto;
    border: none;
    color: #fff;
    background: #4b00ff;
    border-radius: 5px;
    min-width: 300px;
    padding: 10px 0 10px 0;
    margin-top:50px;
    margin-bottom:60px;
}
.btn_connect:hover {
    cursor: pointer;
}

.btn_oubli{
    color: #4b00ff;
    text-decoration: none;
    font-size:1em;
}
.titre_connect{
    font-size:1.4em;
    font-weight:600;
}
.titre_illu{
    font-size:3em;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    padding:50px 10px 0 10px;
}
.illustration img{
    width:60%;
    right:0;
    bottom:0;
    position:absolute;
}

.container_checkbox{
    display:flex;
    justify-content: space-between;
}
.container_page .barre{
    width:100%;
    height:20px;
    display:flex;
    align-items:center;
    padding-left: 20px; 
    border-radius: 10px 10px 0 0;
 }
 .container_page .barre .point{
     background:#e4e4e4;
     border-radius:50px;
     width:8px;
     height:8px;
     margin: 0 3px 0 3px;
 }

 .barre{
    background:#fff; 
 }
 
 