* {
    box-sizing: border-box;
}

body {
    background: #e4e4e4;
    padding: 0;
    margin: 0;
    text-align: center;
}

.logo {
    min-width: 200px;
    max-width: 20%;
    height: auto;
}

.bigContent {
    width: 70%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 50px;
}
.bigContent .barre {
    width: 100%;
    background: #fff;
    height: 20px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-radius: 10px 10px 0 0;
}
.bigContent .barre .point {
    background: #e4e4e4;
    border-radius: 50px;
    width: 8px;
    height: 8px;
    margin: 0 3px 0 3px;
}

.container {
    background: #000;
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
}

.container .formulaire {
    width: 50%;
    background: #f5f5f5;
    padding: 50px;
    font-family: Montserrat;
    text-align: left;
}
.container .formulaire .title {
    font-size: 1.4em;
    color: #000;
    font-weight: 600;
}
.container .formulaire .subtitle {
    color: #000;
    font-size: 1.2em;
    font-weight: 600;
}
.container .formulaire a {
    color: #4b00ff;
    text-decoration: none;
}
.container .formulaire a:hover {
    text-decoration: underline;
}
.container .formulaire form label {
    display: block;
    margin-top: 15px;
    font-weight: 500;
}
.container .formulaire form .typeCompte {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.container .formulaire form .typeCompte .valueCompte {
    border-radius: 5px;
    text-align: center;
    width: 48%;
    background: #fff;
    padding: 7px 0 7px 0;
    border: 2px solid #fff;
}
.container .formulaire form .typeCompte .typeCompteRadio:checked + label {
    border: 2px solid #4b00ff;
}
.container .formulaire form .typeCompte .valueCompte img {
    width: 50px;
    height: auto;
}
.container .formulaire form .typeCompte img:hover {
    cursor: pointer;
}
.container .formulaire form .typeCompte .typeCompteRadio {
    display: none;
}
.container .formulaire form .inputHype {
    width: 100%;
    border: none;
    background: #fff;
    border-radius: 5px;
    padding: 7px;
}

.container .illu {
    background: #eaeaeb;
    width: 50%;
    padding-top: 50px;
    position: relative;
}
.container .illu .title {
    font-size: 3em;
    color: #000;
    font-weight: bold;
}
.container .illu img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 80%;
    height: auto;
}