/* fonts */
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/montserrat/Montserrat-Regular.ttf") format("ttf");
}

body {
    margin: 0;
    padding: 0;
}

.header {
    background: #fff;
    color: #3a3944;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header .logo img {
    width: 200px;
    height: auto;
}

.header .menuGeneral {
    
}
.header .menuGeneral a {
    color: #3a3944;
    font-weight: 500;
    font-size: 1.2em;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 10px 5px 10px;
    margin: 0 10px 0 10px;
    transition: 0.3s;
}
.header .menuGeneral a:hover {
    color: #4b00ff;
    border-top: 1px solid #4b00ff;
    border-bottom: 1px solid #4b00ff;
    padding: 5px 10px 5px 10px;
    transition: 0.3s;
}
.header .menuGeneral .menuActive {
    color: #4b00ff;
    border-top: 1px solid #4b00ff;
    border-bottom: 1px solid #4b00ff;
    padding: 5px 10px 5px 10px;
    transition: 0.3s;
}

.header .menu_user {
    display: flex;
    align-items: center;
}
.header .menu_user .avatarUser {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #4b00ff;
}
.header .menu_user .icon {
    font-size: 1.2em;
}
.header .menu_user .icon:hover {
    cursor: pointer;
}

#userClose {
    display: none;
}

.boxProfile {
    display:none;
    z-index: 1000;
    position: absolute;
    right: 5%;
    min-width: 300px;
}
.arrowProfile {
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid white;
    margin: 0 auto;
}
.contentProfile {
    background: #fff;
    padding: 10px;
    width: 100%;
    text-align: center;
}
.contentProfile a {
    display: block;
}

.banniereHome {
    background: url('../img/ban_home.png') no-repeat center;
    background-size: cover;
    width: 100%;
    height: 150px;
}

/* footer */
.footer {
    width: 100%;
    background: #fff;
    padding: 20px 50px 20px 50px;
    text-align: center;
}
.footer .contentFooter {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.footer .contentFooter .section {
    width: 20%;
    text-align: left;
}
.footer .contentFooter .section a {
    display: block;
}
/* footer */

/* CONTENT GENERALE */
.content {
    background: #f9f9f9;
    min-height: 80vh;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}
.content .informationProfil {
    vertical-align: top;
    display: inline-block;
    margin: 20px 10px 20px 10px;
    background: #fff;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px;
    width: 35%;
    text-align: left;
}
.content .informationProfil #showInfoPerso {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}
.content .informationProfil #showInfoPerso:hover {
    cursor: pointer;
}
.content .informationProfil #hideInfoPerso, #infoPersoDisplay {
    display: none;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}
.content .informationProfil #hideInfoPerso:hover, #infoPersoDisplay:hover {
    cursor: pointer;
}
.content .informationProfil .title {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.2em;
}
.content .informationProfil .subtitle {
    font-size: 1em;
    font-weight: 500;
    color: #3B4351;
}
.content .informationProfil .contentAvatar {
    width: 100%;
    display: flex;
    justify-content: center;
}
.content .informationProfil .contentAvatar .infoAvatar {
    border-radius: 50px;
    width: 100px;
    height: 100px;
}
.content .informationProfil .panelExpPro, .panelFormation {
    width: 100%;
    border: 2px solid #4B00FF;
    border-radius: 4px;
    padding: 10px;
}
.competences, .loisirs {
    width: 100%;
    border-radius: 4px;
    border: 2px dashed #403F4A;
    padding: 10px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.competences span, .loisirs span {
    background: #4b00ff;
    color: #fff;
    font-weight: 400;
    border-radius: 4px;
    padding: 2px 5px 2px 5px;
    margin-left: 10px;
    margin-right: 10px;
}
.content .informationProfil .panelExpPro .inputFlex {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.content .informationProfil .panelFormation .inputFlex {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.content .informationProfil .panelExpPro .inputFlex .itemFlex {
    width: 50%;
}
.content .informationProfil .panelFormation .inputFlex .itemFlex {
    width: 50%;
}
.content .informationProfil .panelExpPro .textareaFlex {
    padding: 5px;
    width: 100%;
}
.content .informationProfil .panelFormation .textareaFlex, .inputSoloFlex {
    padding: 5px;
    width: 100%;
}
.content .informationProfil .panelExpPro .btnFlex {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.content .informationProfil .panelFormation .btnFlex {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.content .informationProfil .expPro {
    width: 100%;
    border-radius: 4px;
    border: 2px dashed #403F4A;
    padding: 10px;
    margin-top: 10px;
}
.content .informationProfil .expPro .flexSection {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.content .informationProfil .forma {
    width: 100%;
    border-radius: 4px;
    border: 2px dashed #403F4A;
    padding: 10px;
    margin-top: 10px;
}
.content .informationProfil .forma .flexSection {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.content .informationProfil .expPro .dateLieu {
    margin-top: 5px;
}
.content .informationProfil .forma .dateLieu {
    margin-top: 5px;
}
.content .informationProfil .expPro .dateLieu .dateExp {
    background: #F0F0F1;
    border-radius: 4px;
    padding: 5px;
    color: #3B4351;
}
.content .informationProfil .forma .dateLieu .dateExp {
    background: #F0F0F1;
    border-radius: 4px;
    padding: 5px;
    color: #3B4351;
}
.content .informationProfil .expPro .description {
    margin-top: 10px;
}
.content .informationProfil .forma .description {
    margin-top: 10px;
}

.content .contentEntreprise{
    background-color:#fff; 
    margin:0 auto;
    width: 40%;
    padding: 10px;
    border-radius:4px; 
    box-shadow:0 0 6px rgba(0, 0, 0, 0.15);
}

.content .contentEntreprise .contentAvatar {
    width: 100%;
}
.content .contentEntreprise .contentAvatar img {
    width: 150px;
    height: 150;
    border-radius: 120px;
}

.content .contentEntreprise .title{
    text-align: left;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.2em;
}
.content .contentEntreprise .textLogo{
    text-align: left;
    font-weight: 500;
    font-size: 1em;
}
.content .contentEntreprise .lab{
    text-align:left; 
    font-weight: 500;
    font-size: 1em;
    margin-top:20px;
    margin-bottom:0px; 
}
.content .contentEntreprise .btnPadding{
    padding:10px 20px; 
    margin-left:auto; 
}
.content .contentEntreprise .right{
    text-align: right;
}
/* SEARCH BAR */
.searchbar {
    width: 100%;
}
.searchbar form {
    display: flex;
    justify-content: center;
}
.searchbar .loupe {
    border: none;
    background: #fff;
    color: #000;
    border-radius: 50px 0 0 50px;
    padding: 15px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
}
.searchbar .job {
    border: none;
    background: #fff;
    color: #000;
    padding: 15px;
    width: 20%;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
.searchbar .domaine {
    border: 1px solid #000;
    padding: 15px;
    width: 15%;
}
.searchbar .type_contrat, .localisation {
    border: 0;
    background: #fff;
    color: #000;
    padding: 15px;
}
.searchbar .type_contrat > option:hover, .localisation > option:hover { /* revoir cette partie, car problème avec les options qui ne suivent pas avec le design de la search bar */
    background: #4b00ff;
    color: #fff;
}
.searchbar .sendSearch {
    border: none;
    background: #4b00ff;
    color: #fff;
    font-weight: 500;
    border-radius: 0 50px 50px 0;
    padding: 15px;
    width: 10%;
}
.searchbar .sendSearch:hover {
    cursor: pointer;
}

/* Liste des annonces */
.annonceList {
    width: 100%;
}
.annonceList .annonce {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
    display: flex;
    border-radius: 6px;
    box-shadow: 0 0 10px #000;
    transition: 0.3s;
}
.annonceList .annonce:hover {
    width: 53%;
    transition: 0.3s;
}
.annonceList .annonce .logo {
    width: 30%;
    background: #fff;
    border-radius: 6px 0 0 6px;
    display: flex;
    align-content: center;
    padding: 5px;
}
.annonceList .annonce .logo img {
    width: 100%;
    height: auto;
}
.annonceList .annonce .sujet {
    width: 63%;
    background: #3a3944;
    color: #fff;
    padding: 15px;
    text-align: left;
}
.annonceList .annonce .sujet .titreAnnonce, .titreAnnonce:hover {
    color: #F0F0F1;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2em;
    text-transform: uppercase;
}
.annonceList .annonce .sujet .info {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.annonceList .annonce .favoris {
    width: 7%;
    background: #403F4A;
    border-radius: 0 6px 6px 0;
    display: flex;
    align-content: center;
    justify-content: center;
}
.annonceList .annonce .favoris img {
    width: 60%;
    height: auto;
}
.annonceList .annonce .favoris img:hover {
    cursor: pointer;
}
/* Liste des annonces */

/* Page Annonce */
.contentPageAnnonce {
    margin: 0 auto;
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 20px;
}

.contentPageAnnonce .pageAnnonce {
    background: #fff;
    border-radius: 4px;
    padding: 10px;
    width: 65%;
    border: 1px solid #E1E1E1;
    text-align: left;
}
.contentPageAnnonce .pageAnnonce .btnPadding{
    padding:10px 20px; 
    margin-top:20px;
}
.contentPageAnnonce .pageAnnonce .goBack {
    font-weight: 500;
    color: #3B4351;
    transition: 0.3s;
}
.contentPageAnnonce .pageAnnonce .goBack:hover {
    text-decoration: none;
}
.contentPageAnnonce .pageAnnonce .goBack:hover i {
    margin-right: 15px;
    transition: 0.3s;
}
.contentPageAnnonce .pageAnnonce .headerAnnonce {
    width: 100%;
    text-align: center;
}
.contentPageAnnonce .pageAnnonce .headerAnnonce .logoInc {
    height: 120px;
    border-radius: 4px;
    box-shadow: 0 0 4px #000;
    margin-bottom: 5px;
}
.contentPageAnnonce .pageAnnonce .headerAnnonce .subtitle {
    font-weight: bold;
    font-size: 0.8em;
}
.contentPageAnnonce .pageAnnonce .headerAnnonce .title {
    font-weight: 500;
    font-size: 1.4em;
    text-transform: uppercase;
}
.contentPageAnnonce .pageAnnonce .headerAnnonce .separator {
    width: 15%;
    height: 1px;
    background: #3B4351;
    margin: 0 auto;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
.contentPageAnnonce .pageAnnonce .headerAnnonce .info {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.contentPageAnnonce .pageAnnonce .contentAnnonce {
    width: 100%;
    text-align: left;
    margin-top: 20px;
}
.contentPageAnnonce .pageAnnonce .contentAnnonce .title {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.2em;
    margin: 10px 0 10px 0;
}

.contentPageAnnonce .annonceList {
    width: 30%;
    background: #fff;
    border-radius: 4px;
    padding: 10px;
    border: 1px solid #E1E1E1;
    position: sticky;
    top: 20px;
}
.contentPageAnnonce .annonceList .title {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.2em;
    margin: 10px 0 10px 0;
}
.contentPageAnnonce .annonceList .annonceEntreprise {
    display: block;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 4px;
    padding: 10px;
    background: #f9f9f9;
    border: 1px solid #4B00FF;
}
.contentPageAnnonce .annonceList a {
    color: #3B4351;
}
.contentPageAnnonce .annonceList a:hover {
    color: #4B00FF;
    text-decoration: none;
}
.contentPageAnnonce .annonceList .annonceEntreprise .titre {
    font-weight: 500;
    text-transform: uppercase;
    display: block;
    margin-bottom: 10px;
}
.contentPageAnnonce .annonceList .annonceEntreprise .info {
    display: flex;
    justify-content: space-around;
}
/* Page Annonce */

/* Gestion Annonce */
.contentPageAnnonce .gestionAnnonceList {
    display: flex;
    align-content: center;
    width: 100%;
    padding: 10px;
    color:white;
}
.contentPageAnnonce .gestionAnnonceList a {
    color:white;
}
.contentPageAnnonce .annonceEntreprise{
    background: #3a3944;
    border-radius: 8px 0px 0px 8px;
    padding: 10px;
}
.contentPageAnnonce .annonceEntreprise .info {
    display: flex;
    justify-content: space-around;
}
.contentPageAnnonce .annonceEntreprise .titre {
    font-weight: 500;
    text-transform: uppercase;
    display: block;
    margin-bottom: 10px;
    text-align: center;
}
.contentPageAnnonce .gestionAnnonceList .annonce {
    width:30%;
}
.contentPageAnnonce .gestionAnnonceList .contentGestion {
    width:70%;
    background:#f0f0f0;
    border-radius: 0px 8px 8px 0px;
    display:flex;
    align-items: center;
}
.contentPageAnnonce .gestionAnnonceList .contentGestion .gestionAnnonce {
    width: 100%; 
}
.contentPageAnnonce .gestionAnnonceList .contentGestion .gestionAnnonce .form{
    display:flex;
    justify-content: space-between;
    width: 90%;
    margin:0 auto;
}
.contentPageAnnonce .gestionAnnonceList .contentGestion .gestionAnnonce .form input:nth-child(1),
.contentPageAnnonce .gestionAnnonceList .contentGestion .gestionAnnonce .form input:nth-child(2),
.contentPageAnnonce .gestionAnnonceList .contentGestion .gestionAnnonce .form input:nth-child(3), 
.contentPageAnnonce .gestionAnnonceList .contentGestion .gestionAnnonce .form input:nth-child(4) {
    margin: 0px 20px; 
}

/* Gestion Annonce */

/* page candidatures */
.content .panelCandidature {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
    padding: 10px;
    width: 70%;
    margin: 0 auto;
}
/* page candidatures */

/* page cv */
.contentCV {
    margin: 0 auto;
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 20px;
}
.contentCV .panel {
    width: 50%;
    margin: 0 10px 0 10px;
    background: #fff;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
    text-align: center;
    padding: 10px;
    border-radius: 4px;
}
.contentCV .panel .avatarUser {
    border-radius: 180px;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border: 1px solid #4B00FF;
}
.contentCV .panel .titre {
    font-weight: 500;
    font-size: 1.6em;
}
.contentCV .panel .separator {
    background: #000;
    width: 40%;
    height: 1px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.contentCV .panel .subtitle {
    font-weight: 500;
    font-size: 1.4em;
}
.contentCV .panel .cardInfo {
    border-radius: 4px;
    padding: 10px;
    widows: 100%;
    background: rgb(240, 239, 239);
    text-align: left;
    margin: 5px 0 5px 0;
}
.contentCV .panel .cardInfo .dateLieu {
    margin-top: 10px;
    font-size: 0.8em;
}
.contentCV .panel .cardInfo .dateLieu .dateExp {
    background: rgb(209, 209, 209);
    border-radius: 4px;
    padding: 5px;
    color: #3B4351;
}
.contentCV .panel .cardInfo .description {
    margin-top: 10px;
}
.contentCV .panel .contentBulle {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contentCV .panel .contentBulle .element {
    background: #4B00FF;
    color: #fff;
    border-radius: 50px;
    padding: 3px 10px 3px 10px;
    margin: 5px 10px 5px 10px;
    font-size: 0.9em;
}
#CVSticky {
    position: sticky;
    top: 20px;
}
/* page cv */

/* equipe */
.content .panelEquipe {
    width: 50%;
    background: #fff;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
    text-align: center;
    padding: 10px;
    border-radius: 4px;
    margin: 0 auto;
}
.content .panelEquipe .team {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
.content .panelEquipe .team .photo {
    width: 20%;
}
.content .panelEquipe .team .description {
    width: 70%;
    text-align: left;
}
/* equipe */

/* panelAvenir */
.content .panelAvenir {
    width: 50%;
    background: #fff;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
    text-align: center;
    padding: 10px;
    border-radius: 4px;
    margin: 0 auto;
}
/* panelAvenir */