body {
    margin: 0;
    padding: 0;
}

.header {
    background: #fff;
    color: #3a3944;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header .logo img {
    width: 200px;
    height: auto;
}

.header .menuGeneral {
    
}
.header .menuGeneral a {
    color: #3a3944;
    font-weight: 500;
    font-size: 1.2em;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 10px 5px 10px;
    margin: 0 10px 0 10px;
    transition: 0.3s;
}
.header .menuGeneral a:hover {
    color: #4b00ff;
    border-top: 1px solid #4b00ff;
    border-bottom: 1px solid #4b00ff;
    padding: 5px 10px 5px 10px;
    transition: 0.3s;
}
.header .menuGeneral .menuActive {
    color: #4b00ff;
    border-top: 1px solid #4b00ff;
    border-bottom: 1px solid #4b00ff;
    padding: 5px 10px 5px 10px;
    transition: 0.3s;
}

.header .menu_user {
    display: flex;
    align-items: center;
}
.header .menu_user .avatarUser {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #4b00ff;
}
.header .menu_user .icon {
    font-size: 1.2em;
}
.header .menu_user .icon:hover {
    cursor: pointer;
}

#userClose {
    display: none;
}

.boxProfile {
    display:none;
    z-index: 1000;
    position: absolute;
    right: 5%;
    min-width: 300px;
}
.arrowProfile {
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid white;
    margin: 0 auto;
}
.contentProfile {
    background: #fff;
    padding: 10px;
    width: 100%;
    text-align: center;
}
.contentProfile a {
    display: block;
}

.banniereHome {
    background: url('../img/ban_home.png') no-repeat center;
    background-size: cover;
    width: 100%;
    height: 150px;
}

/* CONTENT GENERALE */
.content {
    background: #f9f9f9;
    min-height: 80vh;
    width: 100%;
    text-align: center;
}
.content .informationProfil {
    vertical-align: top;
    display: inline-block;
    margin: 20px 10px 20px 10px;
    background: #fff;
    border: 1px solid #A0A0A5;
    border-radius: 4px;
    padding: 10px;
    width: 35%;
    text-align: left;
}
.content .informationProfil .title {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.2em;
}
.content .informationProfil .subtitle {
    font-size: 1em;
    font-weight: 500;
    color: #A0A0A5;
}
.content .informationProfil .contentAvatar {
    width: 100%;
    display: flex;
    justify-content: center;
}
.content .informationProfil .contentAvatar .infoAvatar {
    border-radius: 50px;
    width: 100px;
    height: 100px;
}
.content .informationProfil .panelExpPro, .panelFormation {
    width: 100%;
    border: 1px solid #4B00FF;
    box-shadow: 0 0 4px #4b00ff;
    border-radius: 4px;
    padding: 10px;
}
.content .informationProfil .panelExpPro .inputFlex {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.content .informationProfil .panelFormation .inputFlex {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.content .informationProfil .panelExpPro .inputFlex .itemFlex {
    
}
.content .informationProfil .panelFormation .inputFlex .itemFlex {
    
}
.content .informationProfil .panelExpPro .textareaFlex {
    padding: 5px;
    width: 100%;
}
.content .informationProfil .panelFormation .textareaFlex, .inputSoloFlex {
    padding: 5px;
    width: 100%;
}
.content .informationProfil .panelExpPro .btnFlex {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.content .informationProfil .panelFormation .btnFlex {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.content .informationProfil .expPro {
    width: 100%;
    border-radius: 4px;
    border: 2px dashed #403F4A;
    padding: 10px;
    margin-top: 10px;
}
.content .informationProfil .forma {
    width: 100%;
    border-radius: 4px;
    border: 2px dashed #403F4A;
    padding: 10px;
    margin-top: 10px;
}
.content .informationProfil .expPro .dateLieu {
    margin-top: 5px;
}
.content .informationProfil .forma .dateLieu {
    margin-top: 5px;
}
.content .informationProfil .expPro .dateLieu .dateExp {
    background: #F0F0F1;
    border-radius: 4px;
    padding: 5px;
    color: #3B4351;
}
.content .informationProfil .forma .dateLieu .dateExp {
    background: #F0F0F1;
    border-radius: 4px;
    padding: 5px;
    color: #3B4351;
}
.content .informationProfil .expPro .description {
    margin-top: 10px;
}
.content .informationProfil .forma .description {
    margin-top: 10px;
}

/* SEARCH BAR */
.searchbar {
    width: 100%;
}
.searchbar form {
    display: flex;
    justify-content: center;
}
.searchbar .job {
    border: none;
    background: #fff;
    color: #000;
    border-radius: 50px 0 0 50px;
    padding: 15px;
    width: 15%;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
}
.searchbar .domaine, .type_contrat, .localisation {
    border: 0;
    background: #fff;
    color: #000;
    padding: 15px;
}
.searchbar .domaine > option:hover, .type_contrat > option:hover, .localisation > option:hover { /* revoir cette partie, car problème avec les options qui ne suivent pas avec le design de la search bar */
    background: #4b00ff;
    color: #fff;
}
.searchbar .sendSearch {
    border: none;
    background: #4b00ff;
    color: #fff;
    font-weight: 500;
    border-radius: 0 50px 50px 0;
    padding: 15px;
    width: 15%;
}
.searchbar .sendSearch:hover {
    cursor: pointer;
}

/* Liste des annonces */
.annonceList {
    width: 100%;
}
.annonceList .annonce {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
    display: flex;
    border-radius: 6px;
    box-shadow: 0 0 10px #000;
    transition: 0.3s;
}
.annonceList .annonce:hover {
    width: 53%;
    transition: 0.3s;
}
.annonceList .annonce .logo {
    width: 30%;
    background: #fff;
    border-radius: 6px 0 0 6px;
    display: flex;
    align-content: center;
    padding: 5px;
}
.annonceList .annonce .logo img {
    width: 100%;
    height: auto;
}
.annonceList .annonce .sujet {
    width: 63%;
    background: #3a3944;
    color: #fff;
    padding: 15px;
    text-align: left;
}
.annonceList .annonce .sujet .titreAnnonce {
    font-weight: 500;
    font-size: 1.2em;
    text-transform: uppercase;
}
.annonceList .annonce .sujet .info {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.annonceList .annonce .favoris {
    width: 7%;
    background: #403F4A;
    border-radius: 0 6px 6px 0;
    display: flex;
    align-content: center;
    justify-content: center;
}
.annonceList .annonce .favoris img {
    width: 60%;
    height: auto;
}
.annonceList .annonce .favoris img:hover {
    cursor: pointer;
}
/* Liste des annonces */