/* css admin */
/* fonts */
@font-face {
    font-family: Montserrat;
    src: url("../fonts/montserrat/Montserrat-Regular.ttf");
}

body {
	padding: 0;
	margin: 0;
	font-family: Montserrat;
	color: #2d3436;
}

.contentLogin {
	background: url('./img/bg2.jpg');
	background-size: cover;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.contentLogin .box {
	background: rgba(255, 255, 255, 0.8);
	width: 40%;
	border-radius: 4px;
	padding: 10px;
	box-shadow: 0 0 20px #000;
	text-align: center;
}
.contentLogin .box .title {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.8em;
}

/* formulaire */
.inputHype {
	border-radius: 4px;
	padding: 10px;
	border: none;
}
.inputBorder {
	border-radius: 4px;
	padding: 10px;
	border: 1px solid #b2bec3;
	background: #f1f7fa;
}

.btnBlue {
	background: transparent;
	border-radius: 4px;
	border: 2px solid #0984e3;
	padding: 10px;
	color: #0984e3;
	font-weight: bold;
	transition: 0.3s;
	text-transform: uppercase;
}
.btnBlue:hover {
	cursor: pointer;
	background: #0984e3;
	color: #fff;
	transition: 0.3s;
}

.btnRed {
	background: transparent;
	border-radius: 4px;
	border: 2px solid #d63031;
	padding: 10px;
	color: #d63031;
	font-weight: bold;
	transition: 0.3s;
	text-transform: uppercase;
}
.btnRed:hover {
	cursor: pointer;
	background: #d63031;
	color: #fff;
	transition: 0.3s;
}
/* formulaire */

/* tailles */
.width_20 {
	width: 20%;
}

.width_40 {
	width: 40%;
}

.width_50 {
	width: 50%;
}

.width_80 {
	width: 80%;
}
/* tailles */

/* ALERT */
.alertError {
    border: 1px solid #d63031;
    border-left: 7px solid #d63031;
    color: #2d3436;
    padding: 10px;
    font-weight: 500;
    border-radius: 2px;
}

.alertSuccess {
    border: 1px solid #00b894;
    border-left: 7px solid #00b894;
    color: #2d3436;
    padding: 10px;
    font-weight: 500;
    border-radius: 2px;
}
/* ALERT */

/* UTILES */
.marginAuto {
    margin: 0 auto;
}
.margin_auto {
    margin:auto;
}
.inputNone {
    display: none;
}

.centeredElement {
    width: 100%;
    text-align: center;
}

.txtCenter {
	text-align: center;
}

.stickyTop {
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
}
/* UTILES */

/* BOX */
.boxBlue {
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	border-radius: 4px;
	padding: 20px 0 20px 0;
	font-size: 1.4em;
	background: #74b9ff;
	color: #fff;
}
.boxRed {
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	border-radius: 4px;
	padding: 20px 0 20px 0;
	font-size: 1.4em;
	background: #ff7675;
	color: #fff;
}
.boxViolet {
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	border-radius: 4px;
	padding: 20px 0 20px 0;
	font-size: 1.4em;
	background: #a29bfe;
	color: #fff;
}
/* BOX */

/* FLEX ELEMENTS */
.flexContentBetween {
	display: flex;
	justify-content: space-between;
}
/* FLEX ELEMENTS */

/* TEXTE */
.centered {
    text-align: center;
}
.txtLeft {
    text-align: left;
}
.txtRight {
    text-align: right;
}
.txtGreen {
    color: #00e1a0;
}
.txtPurple {
    color: #4b00ff;
}
.txtGrey {
    color: #3B4351;
}
.txtRed {
    color: #d63031;
}
/* TEXTE */

#menu {
	background: #2d3436;
	box-shadow: 0 0 10px #000;
	float: left;
	width: 20%;
	height: 100%;
	position: fixed;
	text-align: center;
	padding-top: 10px;
}
#menu a {
	text-decoration: none;
	color: #fff;
	display: block;
	text-transform: uppercase;
	padding-top: 7px;
	padding-bottom: 7px;
	font-size: 18px;
	margin-bottom: 10px;
	transition: 0.3s;
}
#menu a:hover {
	background: #fff;
	width: 100%;
	color: #2d3436;
	font-weight: bold;
	transition: 0.3s;
	box-shadow: 0 0 10px #000;
}
#menu .activate {
	background: #fff;
	width: 100%;
	color: #2d3436;
	font-weight: bold;
	transition: 0.3s;
	box-shadow: 0 0 10px #000;
}

#contenu {
	float: right;
	width: 75%;
	padding-left: 10px;
	padding-top: 10px;
	padding-top: 10px;
	padding: 10px;
}