/* css admin */
body {
	padding: 0;
	margin:0;
	font-family: sans-serif;
}
#contenu_connexion {
	margin-top: 10%;
}
.form_connexion {
	width: 300px;
	padding: 7px;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #95a5a6;
}
.form_connexion:focus {
	outline: none;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #95a5a6;
	color:#3498db;
}
.btn_connexion {
	border: none;
	color: #fff;
	width: 300px;
	padding: 7px;
	background: #3498db;
}
.btn_connexion:hover {
	background: #2980b9;
}
.erreur_admin {
	background: #e74c3c;
	width: 300px;
	padding: 7px;
	color: #fff;
}
.success_admin {
	background: #27ae60;
	width: 300px;
	padding: 7px;
	color: #fff;
}
#footer_connexion {
	margin-top: 5%;
}
#menu {
	background: #34495e;
	float: left;
	width:20%;
	height: 100%;
	position: fixed;
}
#menu a {
	text-decoration: none;
	color: #fff;
	display: block;
	text-transform: uppercase;
	padding-top: 7px;
	padding-bottom: 7px;
	font-size: 18px;
	margin-bottom: 10px;
}
#menu a:hover {
	background: #007fff;
	width: 100%;
}
#copyright {
	margin-top: 20px;
	color: #fff;
}
#contenu {
	float: right;
	width:80%;
	padding-left: 10px;
	padding-top: 10px;
}

/* box admin */
.box {
	display: inline-block;
	width:25%;
	height: 100px;
	color: #fff;
	margin-right: 2%;
	text-transform: uppercase;
	font-size: 18px;
	text-align: center;
	line-height: 50px;
}
.membre {
	background: #3498db;
	border: 1px solid #2980b9;
}
.groupe {
	background: #2ecc71;
	border: 1px solid #27ae60;
}
.ticket {
	background: #e74c3c;
	border: 1px solid #c0392b;
}
/* box admin */

#add_adm {
	width:49%;
	display: inline-block;
	text-align: center;
	vertical-align: top;
}
#all_adm {
	width:50%;
	display: inline-block;
	text-align: center;
	vertical-align: top;
}
.form {
	width:300px;
	padding: 7px;
	border-right: none;
	border-top: none;
	border-left: none;
	border-bottom: 1px solid #95a5a6;
}
.form:focus {
	outline: none;
	border-top: none;
	border-left: none;
	border-right: none;
	color: #3498db;
}
.select {
	width: 300px;
	padding: 7px
}
.btn_new_compte, .btn_mtn, .btn_search {
	width: 300px;
	padding: 7px;
	background: #3498db;
	color: #fff;
	border:none;
}
.btn_new_compte:hover, .btn_mtn:hover, .btn_search:hover {
	background: #2980b9;
}
.btn_adm_del {
	border: none;
	padding: 7px;
	width: 300px;
	background: #e74c3c;
	color: #fff;
}
.btn_adm_del:hover {
	background: #c0392b;
}
#detail_user_left {
	float:left;
	vertical-align: top;
	width: 49%;
}
#detail_user_right {
	float:right;
	vertical-align: top;
	width: 50%;
}
.compte_ban, .btn_del_ticket, .btn_del_groupe {
	width:300px;
	padding: 7px;
	background: #e74c3c;
	color: #fff;
	border:none;
}
.compte_ban:hover, .btn_del_ticket:hover, .btn_del_groupe:hover {
	background: #c0392b;
}
.compte_avert {
	width:300px;
	padding: 7px;
	background: #e67e22;
	color: #fff;
	border:none;
}
.compte_avert:hover {
	background: #d35400;
}
.compe_0 {
	width:300px;
	padding: 7px;
	background: #3498db;
	color: #fff;
	border:none;
}
.compe_0:hover {
	background: #2980b9;
}
.compte_premium, .compte_membre, .btn_resolue, .btn_send_mail {
	width:300px;
	padding: 7px;
	background: #3498db;
	color: #fff;
	border:none;
}
.compte_premium:hover, .compte_membre:hover, .btn_resolue:hover, .btn_send_mail:hover {
	background: #2980b9;
}
.compte_mdp, .compte_key {
	width:300px;
	padding: 7px;
	background: #9b59b6;
	color: #fff;
	border:none;
}
.compte_mdp:hover, .compte_key:hover {
	background: #8e44ad;
}
table tr td {
	padding-top: 7px;
	padding-bottom: 7px;
}
#block_left {
	float: left;
	width:49%;
	vertical-align: top;
}
#block_right {
	float: right;
	width: 50%;
	vertical-align: top;
}
.btn_del_file {
	background: #e74c3c;
	border:none;
	color: #fff;
}
.btn_del_file:hover {
	background: #c0392b;
}
.btn_del_pseudo {
	background: #e74c3c;
	border:none;
	color: #fff;
	padding: 7px;
	width: 100%;
}
.btn_del_pseudo:hover {
	background: #c0392b;
}